.acik{

    --arkaplan:#D0D3D4;
    --yazirengi:#273746;


    --baslik-arkaplan:#2E4053ed;
    --baslik-yazirengi:#ECF0F1;


    --menu-arkaplan:#797D7F;
    --menu-yazirengi:#34495E;

    --menu-arkaplan-uzerinde:#D7DBDD;
    --menu-yazi-tipi-uzerinde:#0B5345;
}