.acik {
    --arkaplan: #F2F4F4; /* Açık gri arkaplan */
    --yazirengi: #2C3E50; /* Koyu gri yazı rengi */
  
    --baslik-arkaplan: #27AE60; /* Yeşil başlık arkaplan */
    --baslik-yazirengi: #ECF0F1; /* Beyaz başlık yazı rengi */
  
    --menu-arkaplan: #3498DB; /* Mavi menü arkaplan */
    --menu-yazirengi: #FFFFFF; /* Beyaz menü yazı rengi */
  
    --menu-arkaplan-uzerinde: darkorange; /* Gri menü üzerinde arkaplan */
    --menu-yazi-tipi-uzerinde: black; /* Koyu mavi menü üzerinde yazı rengi */
  }
  