.koyu{
    --arkaplan:#1C2833;
    --yazirengi:#FBFCFC;


    --baslik-arkaplan:#D0D3D4;
    --baslik-yazirengi:#273746;

    --menu-arkaplan:#797D7F;
    --menu-yazirengi:#34495E;

    --menu-arkaplan-uzerinde:#D7DBDD;
    --menu-yazi-tipi-uzerinde:#0B5345;
}