.koyu {
    --arkaplan: rgb(215, 140, 49); /* Koyu gri arkaplan */
    --yazirengi: #FBFCFC; /* Beyaz yazı rengi */
  
    --baslik-arkaplan: black; /* Gri başlık arkaplan */
    --baslik-yazirengi: white; /* Koyu gri başlık yazı rengi */
  
    --menu-arkaplan: #4C4C4C; /* Gri menü arkaplan */
    --menu-yazirengi: darkorange; /* Gri menü yazı rengi */
  
    --menu-arkaplan-uzerinde: darkorange; /* Gri menü üzerinde arkaplan */
    --menu-yazi-tipi-uzerinde: white; /* Yeşil menü üzerinde yazı rengi */
  }
  